{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class='w3-center'>
    <div class='w3-padding-16 w3-xlarge w3-center'>
        Upload image on left and get output on right 
    </div>
    <form method="post" action="#" enctype="multipart/form-data">
        {% csrf_token %}
		<input type="file" name="image" required/>
		<div class="w3-section">
			<button type="submit" name="submit" class="w3-button kel-hover-2 w3-black">Upload</button>
		</div>
	</form>
    <div>
        <img src="{{ img }}" alt="">
    </div>
    <div>
        <img src="/static/{{ url }}" alt="">
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>